version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      actions-infrastructure:
        patterns:
          - "actions/*"
    cooldown:
      default-days: 7
  - package-ecosystem: uv
    directory: "/"
    schedule:
      interval: monthly
    groups:
      uv:
        patterns: ["*"]
    cooldown:
      default-days: 7
